@using System.Collections.Generic
@model MVCWebApp.Models.User

<h1>
  ID: @Model.ID
</h1>

<h1>
  First Name: @Model.FirstName
</h1>

<h1>
  Second Name: @Model.LastName
</h1>

<h1>
  Age: @Model.Age
</h1>